* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Parfumerie Script';
    src: url('./assets/fonts/parfumerie-script-old-style.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Coco Gothic';
    src: url('./assets/fonts/coco-gothic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Cy Grotesk Grand';
    src: url('./assets/fonts/CyGrotesk-GrandRegular.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}


@font-face {
    font-family: 'Garet';
    src: url('./assets/fonts/Garet-Book.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}



.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 40px;
    background-color: transparent;
    z-index: 3;
    position: absolute;
}

.icons {
    display: flex;
    gap: 45px;
}

.header i {
    font-size: 32px;
    color: #fff;
    cursor: pointer;
}

.header i:hover {
    color: #c9c9c9;
    transition: color .3s;
}

.header h1 {
    font-family: 'Parfumerie Script', cursive;
    font-size: 64px;
    color: #fff;
    cursor: default;
}

.homepage {
    background: linear-gradient(rgba(98, 62, 42, 0.4), rgba(98, 62, 42, 0.4)),
    url("imgs/bg-grand.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.homepage h1 {
    font-family: 'Parfumerie Script', cursive;
    font-size: 226px;
}

.homepage p{
    font-size: 32px;
    margin-top: -115px;
    margin-bottom: 100px;
    text-transform: uppercase;
    font-family: 'Coco Gothic', sans-serif;
    letter-spacing: 4px;
}

.homepage button {
    margin-top: 140px;
    font-family: 'Coco Gothic', sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 70px;
    letter-spacing: 4px;
    border: none;
    background-color: #fff;
    color: #623e2a;
    cursor: pointer;
    text-transform: uppercase;
}

.homepage button:hover {
    background-color: #c9c9c9;
    transition: background-color .3s;
}

.footer{
    width: 100vw;
    background-color: #323232;
    color: #fff;
    padding: 20px 200px 20px 200px;
    display: flex;
    flex-direction: column;
}

.texts{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.version h1{
    font-family: 'Parfumerie Script', cursive;
    font-size: 152px;
}

.version p{
    font-size: 16px;
    font-family: 'Cy Grotesk Grand', sans-serif;
    margin-top: -100px;
    margin-bottom: 100px;
    text-align: left;
}

.motivation {
    font-family: 'Cy Grotesk Grand', sans-serif;
    font-size: 34px;
    display: flex;
    flex-direction: column;
    text-align: right;
    line-height: 120%;
}

.informations{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Garet', sans-serif;
    font-size: 18px;
}

.i-block{
    display: flex;
    flex-direction: column;
}

.i-block h1{
    margin-bottom: 20px;
}

.i-block ol{
    list-style-type: none;
    font-family: 'Garet', sans-serif;
}

.i-block ol li{
    font-family: 'Garet', sans-serif;
}

.media h2{
    font-family: 'Garet', sans-serif;
    font-size: 48px;
    padding: 30px 50px 30px 10px;
}

.finish-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.media{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.fa-brands.fa-instagram, .fa-brands.fa-x-twitter{
    font-size: 48px;
    color: #fff;
    cursor: pointer;
}

.payments{
    display: flex;
    flex-direction: row;
    font-size: 48px;
    gap: 25px;
    padding: 0 10px 0 0;
}

.payments i{
    color: #fff;
    cursor: default;
}

.disclaimer{
    font-family: 'Cy Grotesk Grand', sans-serif;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

.disclaimer-red{
    color: #ff0000;
    margin-top: 5px;
}