* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Parfumerie Script';
    src: url('./assets/fonts/parfumerie-script-old-style.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Coco Gothic';
    src: url('./assets/fonts/coco-gothic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 40px;
    background-color: transparent;
    z-index: 3;
    position: absolute;
}

.icons {
    display: flex;
    gap: 30px;
}

.header i {
    font-size: 32px;
    color: #fff;
    cursor: pointer;
}

.header i:hover {
    color: #c9c9c9;
    transition: color .3s;
}

.header h1 {
    font-family: 'Parfumerie Script', cursive;
    font-size: 64px;
    color: #fff;
    cursor: default;
}

.homepage {
    background: linear-gradient(rgba(98, 62, 42, 0.4), rgba(98, 62, 42, 0.4)),
    url("imgs/bg-grand.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.homepage h1 {
    font-family: 'Parfumerie Script', cursive;
    font-size: 226px;
}

.homepage p{
    font-size: 32px;
    margin-top: -115px;
    margin-bottom: 100px;
    text-transform: uppercase;
    font-family: 'Coco Gothic', sans-serif;
    letter-spacing: 4px;
}

.homepage button {
    margin-top: 140px;
    font-family: 'Coco Gothic', sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 70px;
    letter-spacing: 4px;
    border: none;
    background-color: #fff;
    color: #623e2a;
    cursor: pointer;
    text-transform: uppercase;
}

.homepage button:hover {
    background-color: #c9c9c9;
    transition: background-color .3s;
}